<html>
<head>
</head>
<body>
<div th:switch="${lst}">
<div th:case="null">
Pas de liste
</div>
<div th:case="*">
<div th:each="potager : ${lst}">
<span th:text="${potager.idPotager}"/>
<span th:text="${potager.localisation}"/>
<span th:text="${potager.nom}"/>
<span th:text="${potager.surface}"/>
<span th:text="${potager.ville}"/>
<span><a th:href="@{/ihm/potager/delete/{id}(id=${potager.id})}">X</a></span>
<span><a th:href="@{/ihm/potager/modify/{id}(id=${potager.id})}">O</a></span>
</div>
</divth:case="*">
</div>
<a href="/ihm/potager/add">Nouveau potager</a>
</body>
</html>